/* General Styles */
body {
    font-family: 'Arial', sans-serif;
}

/* Navbar */
.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    color: #d4a373 !important;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
}

/* Hero Section */
.hero {
    background: url('../images/hero-bg.jpg') no-repeat center center/cover;
    color: white;
    padding: 70px 0;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero .btn {
    background-color: #d4a373;
    border: none;
}

.hero .btn:hover {
    background-color: #b88654;
}

/* Browse Categories */
.category-img {
    border-radius: 15px;
    transition: transform  ease-in-out;
}

.category-img:hover {
    transform: scale(1.05);
}

/* Product Cards */
.product-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 15px;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
    background: #333;
    color: hsl(249, 68%, 61%);
    padding: 20px 0;
}
